<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="clickable" (click)="onSelectedProducts()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clickable" (click)="onProductsPromo()">Promotion</a></li>
          <li><a class="clickable" (click)="onProductsDispo()">Disponibles</a></li>
        </ul>
      </li>
      <li><a routerLink="/caddy">Caddy</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul *ngIf="!this.authService.isAuthenticated()" class=" nav navbar-nav pull-right">
      <li>
        <a (click)="onLogin()"class="btn">
          <span class="glyphicon glyphicon-log-in"></span>
        </a>
      </li>
    </ul>
    <ul *ngIf="this.authService.isAuthenticated()" class=" nav navbar-nav pull-right">
      <li>
        <a (click)="onLogout()"class="btn">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
    <ul class=" nav navbar-nav pull-right">
      <li>
        <a routerLink="/caddy">
          <span class="badge">{{caddyService.currentCaddyName}} :
            {{caddyService.getSize()}}</span>
          <img class="img-circle img-thumbnail img-rounded" src="assets/images/caddy.png">
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]="currentCategorie==c?'active':''"  (click)="getProductsByCat(c)" class="list-group-item clickable" *ngFor="let c of categories._embedded.categories">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
</div>
